In [1]:
import os
import sys

import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np

PATH = os.path.dirname(os.getcwd())
dPATH = PATH + '/data/'
sPATH = PATH + '/scripts/'
iPATH = PATH + '/images/'

In [2]:
df = pd.read_csv(dPATH + 'all_data.csv')
df.head()

  Country  Year  Life expectancy at birth (years)           GDP
0   Chile  2000                              77.3  7.786093e+10
1   Chile  2001                              77.3  7.097992e+10
2   Chile  2002                              77.8  6.973681e+10
3   Chile  2003                              77.9  7.564346e+10
4   Chile  2004                              78.0  9.921039e+10

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           96 non-null     object
 1   Year                              96 non-null     int64
 2   Life expectancy at birth (years)  96 non-null     float64
 3   GDP                               96 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.1+ KB

In [4]:
df.dtypes

Country                              object
Year                                  int64
Life expectancy at birth (years)    float64
GDP                                 float64
dtype: object

In [5]:
GDP_descending = df.groupby('Country', as_index = False)[['Country','GDP']].mean()
GDP_average_descending = GDP_descending.sort_values('GDP',ascending=False, ignore_index = True)

GDP_average_descending

                    Country           GDP
0  United States of America  1.407500e+13
1                     China  4.957714e+12
2                   Germany  3.094776e+12
3                    Mexico  9.766506e+11
4                     Chile  1.697888e+11
5                  Zimbabwe  9.062580e+09

In [ ]:
time_span = df.Year.max() - df.Year.min() + 1

fig = plt.figure(figsize = (12,12))
ax = sns.barplot(data = GDP_average_descending, x = 'Country', y = 'GDP')
plt.xticks(rotation = 45)
ax.set_title(f'Trailing {time_span} Year Average GDP by Country', fontsize = 12)
#plt.legend(GDP_average_descending.Country)
plt.savefig(iPATH + f'Trailing {time_span} Year Average GDP by Country.PNG')
plt.show()
plt.clf()

In [ ]:
fig = plt.figure(figsize = (12,12))
ax1 = sns.lineplot(data = df, x = 'Year', y = 'GDP', hue = 'Country')
plt.savefig(iPATH + 'GDP vs. Time -- hue Country.PNG')

In [ ]:
plt.clf()

countries = list(df['Country'].unique())

i = 1
fig = plt.figure(figsize = (20,20))
for country in countries:
    df_temp = df[df.Country == country]
    ax = fig.add_subplot(2,3,i)
    sns.regplot(data = df_temp, x = 'Life expectancy at birth (years)', y ='GDP')
    plt.title(f'{country} Life Expectancy vs. GDP')
    i+=1
plt.savefig(iPATH + 'Life Expectancy vs. GDP -- 2x3.PNG')

Make a scatter plot of Average LE v Average GDP

In [ ]:
plt.clf()

ax = sns.barplot(data = df, x = 'Country', y = 'GDP')
plt.xticks(rotation = 45)

In [ ]:
total_GDP_by_year = df.groupby('Year', as_index = True).sum()['GDP']
total_GDP_by_year

In [ ]:
for year in total_GDP_by_year.index:
    print(total_GDP_by_year[year])

In [ ]:
#df['Total GDP'] = 0
#df
for row in df.index:
    index = df.iloc[row]['Year']
    df.loc[row,'Total GDP'] = total_GDP_by_year[index]
df['Pct of GDP'] = df['GDP'] / df['Total GDP']*100
df

In [ ]:
plt.clf()

countries = list(df['Country'].unique())
i = 1
fig = plt.figure(figsize = (20,20))
for country in countries:
    df_temp = df[df.Country == country]
    ax = fig.add_subplot(2,3,i)
    sns.regplot(data = df_temp, x = 'Year', y ='Pct of GDP', label = 'Pct Total GDP')
    ax2 = ax.twinx()
    sns.regplot(data = df_temp, x = 'Year', y ='Life expectancy at birth (years)',ax=ax2, color = 'red', label = 'Life Expectancy')
    plt.title(f'{country} Life Expectancy\nvs. GDP')
    ax.legend(loc = 'upper left')
    ax2.legend(loc = 'upper right')
    i+=1
plt.subplots_adjust(wspace = .3)
plt.savefig(iPATH + 'Life Ex v Time vs Pct total GDP v Time.PNG')

In [ ]:
for country in countries:
    df[df.Country == country]['GDP % Growth'] = (df[df.Country == country]['GDP'].shift(1) - df[df.Country == country]['GDP'])/df[df.Country == country] *100